.header {
    padding: 0 420px;
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #fff;
    box-shadow: 0 -25px 33px 20px #555555;
}
.header input {
    margin-left: 20px;
    font-size: 19px;
    width: 581px;
    height: 44px;
    padding: 12px 15px;
    border: 1px solid #E5E5E5;
}

.mainPage {
    padding: 0 420px;
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: #33333399;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalContent {
    padding: 0 87px;
    max-height: 215px;
    max-width: 450px;
    background-color: #fff;
    position: relative;
    text-align: center;
}
.modalControlButtons {
    margin: 15px 0 22px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.modalControlButtons button {
    border: none;
}
.modalAcceptButton {
    padding: 12px 35px;
    background-color: #34C759;
    font-size: 19px;
    color: #fff;
}
.modalDeclineButton {
    color: #333333;
    background-color: transparent;
    text-decoration: underline;
    font-size: 17px;
}
.modalX {
    position: absolute;
    top: 15px;
    right: 15px;
}